.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  justify-content: flex-start;
}

.hero__container {
  height: 80%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.header__logo {
   margin-right: auto;
}

.header__menu {
  margin-right: rem(15px);
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    @include circle(5px, #fff);
    margin: 0 12px;
  }
  &:last-child:after {
    display: none;
  }
}

.menu__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 17%;
}

.hero__imag, .hero__description {
  flex-basis: 50%;
}

.hero__imag {

  width: 451px;
}

.hero__imag-pic {
  max-width: 100%;
}

.hero__description{
  padding-top:  rem(50px);
  padding-left: rem(20px);

}

.hero__description-text {
  display: block;
  font-family: Lifehack;
  font-size: 65px;
  line-height: 1;
  color: #fff;
}

.hero__icons-arrow {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 3px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: .5s;
  position: absolute;
  left: 50%;
  bottom: 4%;
  margin-left: rem(8px);
}