.maps {
    background: url(../img/bg/maps.jpg) center center no-repeat;
    background-size: cover;
}

.maps-iner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps__footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.footer-left, .social {
    height: 58px;
    background: #171717; /* Old browsers */
    background: -moz-linear-gradient(top, #171717 1%, #111111 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #171717 1%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #171717 1%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#111111',GradientType=0 ); /* IE6-9 */;
}

.footer-left {
    flex-basis: 50%;
    padding: 10px 0 10px 200px;
}

.social {
    flex-basis: 50%;
    padding-right: 200px;
    text-align: right;
}

.footer__adr {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

.footer__phone {
    font-family: Ubntu;
    font-size: 14px;
    font-weight: 900;
    color: $orange;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(8px);
}

.social__link {
    display: inline-block;
    height: 100%;
}

.social__title {
    height: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 58px;
}