.meat {
    background: url(../img/decor/meat-1.jpg) center center no-repeat;
    background-size: cover;
}

.meat-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meat__left {
    margin: auto;
    height: 100%;
    padding-top: rem(100px);
    margin-left: rem(100px);
}

.meat__list {
    display: flex;
    opacity: 0.7;
    padding-left: rem(280px);
}

.meat__item {
    height: rem(650px);
    width: rem(80px);
    position: relative;
    background-color: rgba(45,48,49, .3);
    text-align: center;
    
    &:hover {
        .meat__item-content {
            opacity: 1;
            transform: scaleX(200px 0);
        }
    }
}

.meat__title {
    display: block;
    width: rem(80px);
    height: 100%;
    min-width: rem(80px);
    font-family: Gagalin;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.meat__title-transform {
    display: block;
    width: rem(650px);
    height: rem(80px);
    line-height: 80px;
    position: absolute;
    top: 50%;
    left: -17.8125rem;
    margin-top: -2.5rem;
    transform: rotate(-90deg);
}

.meat__item-content {
    width: rem(540px);
    height: rem(650px);
    padding: rem(50px) (30px);
    background: #2f3234;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
    opacity: 0;
}